@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 ><a href="/Admin/Index">Admin</a></h2>
    <h2 ><a href="/Student/Index">Student</a></h2>
</div>
