@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <p>
        Confirmation email sent. You can login after the account is approved by the management
    </p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
